body{
    background-image: url("Image/Fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat:initial ;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 14%;
    max-width: 400px;
}
  
  .container .button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #a33535;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container .button:hover {
    background-color: rgb(250, 218, 74);
    color: rgb(0, 0, 0);
  }



.GameScreen {
    background-color: blue;
}


.ble{
    width: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #a33535;
    color: black;
    font-size: 16px;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.or{
    width: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(60%, -50%);
    background-color: #a33535;
    color: black;
    font-size: 16px;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.troupe{
    width: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(170%, -50%);
    background-color: #a33535;
    color: black;
    font-size: 16px;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.banniere{
    width: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, 60%);
    background-color: #a33535;
    color: black;
    font-size: 16px;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.diamant{
    width: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(60%, 60%);
    background-color: #a33535;
    color: black;
    font-size: 16px;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}


