body
{
    background-image: url("Image/fondJeu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header
{
    display: flex;
    justify-content: center;
}
.blé{
    height: 10px;
    width: 10px;
}
.or{
    height: 10px;
    width: 10px;
}
.troupe{
    height: 10px;
    width: 10px;
}
.container {
    width: 100%;
    max-width: 400px;
}
  
  .container .button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .bouton{
    display: flex;
    justify-content: space-around;
  }
  
  .container .button:hover {
    background-color: black;
    color: white;
  }