body
{
    background-image: url("fondJeu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header
{
    display: flex;
    justify-content: center;
}
.blé{
    height: 10px;
    width: 10px;
}
#resourcesbar ul#resources li {
    height: 47px;
    width: 64px;
    text-align: center;
    cursor: pointer;
}
